<div class="container">
  <h5>Hi, <%= session[:username] %></h5>
  <h1>Repos</h1>
  <!-- List repositories here! -->

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>

  <div>
    <ul>
    <% @repos.each do |repo| %>
      <li><%= repo['name'] %></li>
    <% end %>
    </ul>
  </div>

</div>