<div class = "container">
  <h1>Repos</h1>
  <!-- List repositories and display username here! -->
  <h2>Welcome, <%= @username %>!</h2>
  
  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
  <h3 style="text-align:left; text-decoration:underline">Repositories</h3>
  <ul>
  <% @repos.each do |repo| %>
    <li style="list-style-position:inside; text-align:left"><%= repo %></li>
  <% end %>
  </ul>
</div>
