<div class = "container">
  Welcome <%= session[:username] %>
  <h1>Repos</h1>
  <!-- List repositories and display username here! -->
  <ul>
    <% @repos.each do |repo| %>
      <li><%= repo["name"] %></li>
      <li><%= repo["html_url"] %></li>
    <% end %>
  </ul>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
