<div class = "container">
  <h1><%= @user %></h1>
  <h1>Repos</h1>
  <!-- List repositories here! -->
  <% if @repos %>
    <% @repos.each do |repo| %>
      <a target="_blank" href="<%=repo["html_url"]%>"><%=repo["name"]%></a><br>
    <% end %>
  <% end %>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
