<div class = "container">
  <h1>Repos</h1>
  <!-- List repositories and display username here! -->
  <h1><%= session[:username] %>'s Repos</h1>
  <% @repos_array.each do |repo| %>
    <%= repo["name"] %><br>
  <% end %>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
