<div class = "container">
  <header>
    Currently Logged In as:
    <%if @username%>
    <%binding.pry%>
    <%=@username%>
    <%end%>
  </header>
  <h1>Repos</h1>
  <%if @repos%>
    <%@repos.each do |repo|%>
    <li><%=repo["name"]%></li> <br>
    <%end%>
  <%end%>
  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
