<div class = "container">
  <h1><%= @user %> Repos</h1>
  <!-- List repositories and display username here! -->

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>

  <ul>
    <% @repos.each_with_index do |repo, i| %>
      <li>
        <h3>Repo <%= i+1 %> - <a href="<%= repo["html_url"] %>"><%= repo["full_name"] %></a></h3>
        <p><%= repo["description"] %></p>
      </li>
    <% end %>
  </ul>


</div>
