<div class = "container">
	
  <h3><%= session[:username] %></h3>

  <h1>Repos</h1>
  <!-- List repositories here! -->
  <% if @error %>
    	<p><%= @error %></p>
	<% elsif @repos %>
	    <ul>
	      <% @repos.each do |repo| %>
	        <li>
	          <%= repo["name"] %><br>
	        </li>
	      <% end %>
	    </ul>
	<% end %>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
