<div class = "container">
  <h1><%= session[:username] %>'s Repos</h1>

  <!-- can add pagination here --> 
  <% if @repos.is_a?(Array) %> 
    <% @repos.each do |repo| %> 
      <%= repo["name"] %> <br> 
    <% end %> 
  <% end %> 

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
