<h1>Welcome <%= @username %></h1>

<div class = "container">
  <h1>Repos</h1>
  <!-- List repositories here! -->

	<% @repositories.each do |repo| %>
		<p>
			<%= link_to repo['full_name'], repo['url'] %>
		</p>
	<% end %>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>