<div class = "container">
  <h1>Repos for: <%=@username%></h1>


  <!-- List repositories and display username here! -->

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
<br>
  <%if @repos%>

    <%@repos.each do |repo|%>
      <p><a href="<%=repo["html_url"]%>"><%=repo["name"]%></a></p>
    <%end%>

  <%end%>
</div>
