<div class = "container">
  Hello, <%= @username %>
  <h1>Repos</h1>
  <!-- List repositories here! -->
  
  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>

  <%#= paginate @repos %>
  <% if @repos %>
    <ul>
      <% @repos.each do |repo| %>
        <li><%= repo %></li>
      <% end %>
    </ul>
  <% end %>
</div>