<div class = "container">
  <h1><%= session[:username]%>'s Repos</h1>
  <ul>
    <% @repos_arr.each do |a| %>
      <li><a href="<%= a['html_url'] %>"><%= a["name"] %></a></li>
    <% end %>
  </ul>

<%= @repos %>
  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
