<div class = "container">
  <h1>Repos</h1>
  <h3><%= session[:name]%></h3>
  <!-- List repositories and display username here! -->

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>

<div class="repo_array">
  <%@repos_array.each do |rep|%>
    <ul>
      <li><%=rep["name"]%></li>
    </ul>
  <%end%>

</div>
