<div class = "container">
  <h1>Repos</h1>
  <!-- List repositories and display username here! -->

  <p><%= label_tag(:your_username) %>
<%= text_field_tag(:your_username, "your_username") %></p>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
