<div class = "container">
  <h1>Repos</h1>
  <!-- List repositories here! -->
  <%if @username %>
  <h3><%=@username%></h3>
  <%end%>
  <h3><%=session[:token]%></h3>
  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>

<% if @repos.size > 0 %>
  <% @repos.each do |repo|%>
    <h5><%=repo['name']%></h5>
    <p><%= "- #{repo['description']}" if repo['description'] %> </p>
      <%= link_to "View Repo", repo['html_url'] %><br><hr>
  <%end%>
<%end%>
</div>
