<div class = "container">
  <h1>Repo's for: <%= session[:username] %></h1>

    <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
  <br>
  <ol>
    <% @repo.each do |repo| %>
      <li>
        <%= repo["name"] %>
        </li>
    <% end %>
  </ol>

</div>