<div class = "container">
  <h1>Repos</h1>
  <%= session[:username] %>
  <ol>
    <% @repos.each do |repo| %>
      <li><%= repo['name'] %></li>
    <% end %>
  </ol>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
