<div class = "container">
  <h1>Repos</h1>
  <!-- List repositories here! -->
  <div class = "container">
    <h1><%= session[:username] %> Repos</h1>
      <div>
        <ul>
          <%= @repos.each do |repo| %>
            <li>
              <strong><%= repo["name"] %></strong><br/>
              <%= link_to(repo["html_url"], repo["html_url"]) %>
            </li>
          <% end %>
        </ul>
      </div>
  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
