<div class = "container">
  <h1>Repos</h1>
  <!-- List repositories and display username here! -->

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
  
</div>

<p>GitHub Login: <%= @login %> </p>

<ul>
<% @repos.each.with_index(1) do |repo, i| %>
  <li>
    <%= "Repo #{i} #{repo['name']}" %>
  </li>
<% end %>
