<div class = "container">
  <%if @response %>
    <% @response %>
    <% end %>
  <h1>User: <%=session[:user]%></h1>
  <h1>Repos</h1>
  <%if @repos%>
  <%@repos.each do |repo| %>
    <div>
    <%=link_to repo['full_name'], repo['html_url']%><br>
    language: <%=repo['language']%><br>
    created at: <%=repo['created_at']%>
    <br><br>
    <div>
    <%end%>
    <%end%>


  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
