<div class = "container">
  <h1>Repos</h1>
  <!-- List repositories here! -->
  <h3>User: <%= @user %></h3>

  <%= @links.each_with_index do |link, index| %>
        
  <% end %>

  <div class="well">
  <% if @repositories %>
    <ul>
    <% @repositories.each do |repository| %>
      <li><%= "#{repository['name']}" %></li>
    <% end %>
    </ul>
  <% end %>
  </div>
  
  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>