
<div class = "container">
  <h1><%= @login %>'s Repos</h1>
  <% if @repo %>
  <ul>
      <% @repo.each do |repo| %>
        <li>
          
          <%= link_to repo["html_url"], repo["html_url"] %><br>

        </li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
