<div class = "container">
  <h1><%= @username %>'s Repos</h1>
  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>

<div>
  <table>
    <caption class='center'>
      <%= link_to_if p_avail?('prev'), "<", root_path(page: p(@links)['prev']), class:'large' %>
      <span class='large'><%= current_page %></span>
      <%= link_to_if p_avail?('next'), ">", root_path(page: p(@links)['next']), class:'large' %>
    </caption>
    <thead>
      <th>ID</th>
      <th>Name</th>
    </thead>
    <tbody>
      <% @repos.each do |repo| %>
        <tr>
          <td><%= repo['id'] %></td>
          <td><%= link_to repo['name'], repo['html_url'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
