<div class = "container">
  <h1>Repos</h1>
  <p>Welcome, <%= @username %></p>
  <%= flash[:message] if flash[:message] %>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
    <% @repos.each do |repo| %>
      <strong><%= repo['name'] %></strong> <%= "- #{repo['description']}" if repo['description'] %> <br>
      <%= link_to "View Repo", repo['html_url'] %><br>
      </br>
    <% end %>
</div>
