<div class = "container">
  <h1>Repos for <%= @login %>:</h1>
  <% if @repositories.size > 0 %>
    <ul>
      <% @repositories.each do |repository| %>
        <li><%= "#{repository['name']}" %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Looks like you don't have any Github repositories yet.</p>
  <% end %>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
