<div class = "container">
  <h1><%= session[:username] || "Log in through github!"%></h1>
  <h1>Repos</h1>
  <!-- List repositories here! -->
  <%if @repositories%>
  <ul>
  	<% @repositories.each do |rep|%>
  	<li><%= rep['name'] %></li>
  	<%end%>
  </ul>
  <%end%>
  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>