<div class = "container">
  <h1>Repos</h1>

<div class="container">
  <h2> <%= @user_info["login"] %> </h2>

    <% @repo_list.each do |repo| %>
      <%= repo["name"] %></br>

    <% end %>
</div>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>


<% if logged_in? %>
<%= link_to "Log Out", '/logout', {method: 'post'} %>
<% end %>
