<div class = "container">
<p>token: <%= session[:token] %></p>
<p>username: <%= session[:username] %></p>
  <h1>Repos</h1>

	your_username 
  <%= @repos_array.inspect %>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>