<h1><%= session[:username] %></h1>

<div class = "container">
  <h1>Repos</h1>
  <!-- List repositories here! -->

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>

<div>
  token is <%= session[:token]%>  <br><br>
  <ul>
    <% @repos.each do |repo| %>
      <li><%= repo["name"] %></li>
    <% end %>
  </ul>
</div>

<%= link_to "Delete token", "/session/delete", method: :delete, data: {confirm: "ok?"}%>
