<div class = "container">
  <h1>Repos</h1>
  <!-- List repositories and display username here! -->

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>

<h2>Displaying Repos for <%= @user["login"] %></h2>

<% if @repos %>
<ul>
  <% i = 1 %>
  <% @repos.each do |repo| %>
    <li>Repo <%= i %> <%= repo["full_name"] %></li>
    <% i += 1 %>
  <% end %>
</ul>
<% end %>
